# Reading Data

<img src="https://uwashington-astro300.github.io/A300_images/DataReading.png" width="120"/>

* Astropy has a large number of different ways to read data from external files. 
* Astropy supports almost any type of file you can think of, from simple text files to complex binary formats.
* Most of our datafiles will be `csv` files (comma separated values)

In [ ]:
import numpy as np
from astropy.table import QTable

##### Let us read-in the file: `./Data/StarData.csv`

```
StarID,Parallax,GMag
A5853,768.07,8.98
B4472,546.98,8.19
C3864,415.18,11.03
D7628,392.75,6.55
```

### `ascii.csv` assumes the first row is a list of the column names

In [ ]:
star_table = QTable.read('./Data/StarData.csv', 
                         format='ascii.csv')

In [ ]:
star_table

----

# Reading (bad) Data

<img src="https://uwashington-astro300.github.io/A300_images/Lore.jpg" width="200"/>

## Different Delimiters

Some people just want to watch the world burn, so they create datasets where the columns are separted by something other than a comma.

#### Bad - Using another delimiter like `:`

##### `./Data/StarData_Ver2.dat`

```
StarID:Parallax:GMag
A5853:768.07:8.98
B4472:546.98:8.19
C3864:415.18:11.03
D7628:392.75:6.55
```

In [ ]:
star_table_2 = QTable.read('./Data/StarData_Ver2.dat', 
                           format='ascii.csv',
                           delimiter = ":")

In [ ]:
star_table_2

#### Worse - Using whitespace as a delimiter

##### `./Data/StarData_Ver3.dat`

```
StarID Parallax GMag 
A5853 768.07 8.98
B4472 546.98 8.19
C3864 415.18 11.03
D7628 392.75 6.55
```

In [ ]:
star_table_3 = QTable.read('./Data/StarData_Ver3.dat', 
                           format='ascii.csv',
                           delimiter = " ")

In [ ]:
star_table_3

---
# Messy Data

<img style="float: right;" src="https://uwashington-astro300.github.io/A300_images/MessyData.jpg" width="230"/>

* In the "real world" all data is messy.

##### Let us read-in the file: `./Data/Messy.dat`

```
#######################################################
#
# Col 1 - Name
# Col 2 - Distance
#
#######################################################
"A2344",10
"",23
,
# A random comment row just because
"E5333",
```

### This is not going to end well ... (errors galore!)

In [ ]:
messy_table = star_table = QTable.read('./Data/Messy.dat', 
                                       format='ascii.csv')

### Deal with the comment lines `#`

In [ ]:
messy_table = star_table = QTable.read('./Data/Messy.dat', 
                                       format='ascii.csv',
                                       comment = '#')

messy_table

## Not quite correct ...

### Turn off the header

- Since the first row is not the header we cannot use `ascii.csv`
- Switch to `ascii.no_header`
- add a delimiter

In [ ]:
messy_table = QTable.read('./Data/Messy.dat', 
                          format='ascii.no_header',
                          delimiter = ',',
                          comment = '#',)

messy_table

### Add the column names

In [ ]:
my_column_names = ['Name', 'Distance']

In [ ]:
messy_table = QTable.read('./Data/Messy.dat', 
                          format='ascii.no_header',
                          delimiter = ',',
                          comment = '#',
                          names = my_column_names)

messy_table

### Deal with the missing data

In [ ]:
messy_table['Name'].fill_value = 'XXXXX'
messy_table['Distance'].fill_value = -999

messy_table.filled()

----

# Fixed-Width Data Tables

* These types of data tables are **VERY** common in astronomy
* The columns have a fixed-widths
* Whitespace is used to seperate columns **AND** used within columns

TPHE A      00 30 09
PG0029+024  00 31 50
92 309      00 53 14

  TPHE A      00 30 09
  PG0029+024  00 31 50
  92 309      00 53 14
  ^           ^  ^  ^  
  |----|----|----|----|
  0    5    10   15   20
  
Notice that the four columns start at:

Col 1 -> Index = 0
Col 2 -> Index = 12
Col 3 -> Index = 15
Col 4 -> Index = 18

In [ ]:
my_column_start = [0, 12, 15, 18]

In [ ]:
my_column_names = ['Star', 'RAh', 'RAm', 'RAs']

In [ ]:
standard_table = QTable.read('./Data/StdStars.dat', 
                            format='ascii.fixed_width_no_header',
                            names = my_column_names,
                            col_starts = my_column_start
                            )

In [ ]:
standard_table

----

# ⭐ Bonus Content ⭐

# [CDS](https://cds.u-strasbg.fr/)

### The Centre de Données astronomiques de Strasbourg (Strasbourg astronomical Data Center) is the main repository for published astronomical data as well as the host to SIMBAD the main astronomical object database.

### All of the data published in the astronomical literature is availible in electronic form

---

![AJ](https://uwashington-astro300.github.io/A300_images/StdStars.png)

[Landolt Paper data page](https://vizier.cds.unistra.fr/viz-bin/VizieR?-source=II/183)

table2.dat

TPHE A      00 30 09 -46 31 22  14.651  0.793  0.380  0.435  0.405  0.841  29  12  0.0028 0.0046 0.0071 0.0019 0.0035 0.0032
TPHE B      00 30 16 -46 27 55  12.334  0.405  0.156  0.262  0.271  0.535  29  17  0.0115 0.0026 0.0039 0.0020 0.0019 0.0035
TPHE C      00 30 17 -46 32 34  14.376 -0.298 -1.217 -0.148 -0.211 -0.360  39  23  0.0022 0.0024 0.0043 0.0038 0.0133 0.0149

ReadMe

Byte-by-byte Description of file: table2.dat
--------------------------------------------------------------------------------
   Bytes Format Units   Label   Explanations
--------------------------------------------------------------------------------
   1- 11  A11   ---     Star   *Star Designation
  13- 14  I2    h       RAh     Right Ascension J2000 (hours)
  16- 17  I2    min     RAm     Right Ascension J2000 (minutes)
  19- 20  I2    s       RAs     Right Ascension J2000 (seconds)
      22  A1    ---     DE-     Declination J2000 (sign)
  23- 24  I2    deg     DEd     Declination J2000 (degrees)
  26- 27  I2    arcmin  DEm     Declination J2000 (minutes)
  29- 30  I2    arcsec  DEs     Declination J2000 (seconds)
  33- 38  F6.3  mag     Vmag    V magnitude
  40- 45  F6.3  mag     B-V     B-V color
  47- 52  F6.3  mag     U-B     U-B color
  54- 59  F6.3  mag     V-R     V-R color
  61- 66  F6.3  mag     R-I     R-I color
  68- 73  F6.3  mag     V-I     V-I color
  75- 77  I3    ---   o_Vmag    Number of observations
  79- 81  I3    ---     Nd      Number of nights
  84- 89  F6.4  mag   e_Vmag    Mean error of the Mean Vmag
  91- 96  F6.4  mag   e_B-V     Mean error of the Mean (B-V)
  98-103  F6.4  mag   e_U-B     Mean error of the Mean (U-B)
 105-110  F6.4  mag   e_V-R     Mean error of the Mean (V-R)
 112-117  F6.4  mag   e_R-I     Mean error of the Mean (R-I)
 119-124  F6.4  mag   e_V-I     Mean error of the Mean (V-I)
--------------------------------------------------------------------------------

In [ ]:
standard_table = QTable.read("https://cdsarc.cds.unistra.fr/ftp/II/183A/table2.dat",
                             readme="https://cdsarc.cds.unistra.fr/ftp/II/183A/ReadMe",
                             format="ascii.cds")

In [ ]:
standard_table

----

# Lots of Data

<img  src="https://uwashington-astro300.github.io/A300_images/LotsData.jpg" width="230"/>

In [ ]:
standard_table.show_in_notebook()